
@{
    ViewBag.Title = "صفحه ورود";
    Layout = "~/Areas/User/Views/Shared/Layout/_master.cshtml";
}
<a href="@Url.Action("Index", "Login")">
    <img src="~/Areas/User/Images/BackButton.png" width="50" class="BackButton" />
</a>
<img src="~/Areas/User/Images/CapLogo.png" width="180" id="LoginPageIcon"/>
<br />
<span class="RegularText">برای ورود مشخصات خود را وارد کنید:‌</span>
<br />
<input type="text" id="txtPhoneNumber" mf-required class="TextInput" placeholder="شماره همراه" />
<input type="password" id="txtPassword" mf-required class="TextInput" placeholder="گذرواژه" />
<!--<input type="password" id="txtPassword" class="TextInput" placeholder="رمز عبور" /> -->
<br />
<input type="button" class="btn btnGreen" onclick="Login();" value="ورود"/>
<span class="RegularText" style="font-size:18px;width:100%;text-align:center;" > رمز عبور خود را فراموش کرده اید؟‌ <a class="BlackText" href="/User/Login/PasswordChangePhone" style="cursor:pointer;"> اینجا </a> را کلیک کنید‌ </span>

<script>
    function Login() {
        if (validateForm() == false)
            return;
        var param = {
            PhoneNumber: $("#txtPhoneNumber").val(),
            Password: $("#txtPassword").val(),
        };
        CallMethod("/User/Login/Login", JSON.stringify(param), function (response) {
            if (response["IsActive"] == true)
            {
                window.location = "/User/Home";
            }
            else
            {
                window.location = "/User/Login/Sms?FromAddress=Login&Id=" + response["SmsId"];
            }
        });
    }
</script>

<style>
    #LoginPageIcon{
        margin-top:10px;
    }
</style>