
@{
    ViewBag.Title = "۴۰۴ صفحه مورد نظر یافت نشد";
    Layout = "~/Areas/User/Views/Shared/Layout/_master.cshtml";
}

<div class="AllMainCommon" id="AllMain404">
    <div id="Content404">
        <img src="~/Areas/User/Images/404Logo.png" />
        <span id="BText404">۴۰۴</span>
        <span id="BText">صفحه مورد نظر یافت نشد</span>
    </div>
</div>

<style>
    #AllMain404{
        height:auto;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
</style>