
@{
    ViewBag.Title = "خبرنامه";
    Layout = "~/Areas/User/Views/Shared/Layout/_master.cshtml";
}

<div class="CommonHeader">
    <a href="@Url.Action("Index", "Home")">
        <img src="~/Areas/User/Images/BackButton.png" class="BackButton" />
    </a>
    <div id="EducationHeaderLogo">
        <img src="~/Areas/User/Images/MessageIcon.png" width="50px">
        <span class="BigText">پیام ها</span>
    </div>
</div>

<div class="AllMainCommon">
    <div class="CommonSideBar">
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
        <div class="CommonSideBarItemsContainer">
            <div id="MessagesSideBarItem">
                <span class="RegularText" id="MessageSideBarItemText">بروز رسانی ۱.۲۳۲</span>
            </div>
        </div>
    </div>
    <div class="CommonContentContainer">
        <div id="MessagesCommonContent">
            <div id="MessageTextHeader">بازیافت آسان شد!</div>
            <div id="MessageTextContainer">
                <span class="RegularText">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد. 
                </span>
            </div>
        </div>
        
    </div>
</div>

<style>
    
</style>