
@{
    ViewBag.Title = "تغیر رمز عبور";
    Layout = "~/Areas/User/Views/Shared/Layout/_master.cshtml";
}

<a href="@Url.Action("UserSetting", "Common")">
    <img src="~/Areas/User/Images/BackButton.png" width="50" class="BackButton" />
</a>
<img class="PasswordChangeHeaderLogo" src="~/Areas/User/Images/PasswordIcon.png" />
<span class="RegularText" style="font-size:30px;margin-top:20px;">مدیریت رمز عبور</span>
<span class="RegularText" style="color:#777;margin-top:50px;">تغیر رمزعبور ۶ رقمی</span>
<br />
<input type="password" id="NewPassword" class="TextInput" placeholder="رمز عبور جدید" />
<input type="password" id="RetypeNewPassword" class="TextInput" placeholder="تکرار رمز عبور جدید" />
<br />
<input type="button" onclick="ChangePassword();" class="btn btnGreen" style="padding-top:0;width:150px;height:45px;font-size:25px;" value="تایید" />

<script>
    function ChangePassword() {
        var param = {
            Id: '@ViewBag.Id',
            NewPassword : $("#NewPassword").val(),
            RetypeNewPassword : $("#RetypeNewPassword").val(),
        };
        CallMethod("/User/Login/ResetPasswordChangePassword", JSON.stringify(param), function () {
            ShowMessage("توجه", "عملیات با موفقیت انجام شد", MessageType.Succes, function () { window.location = '@Url.Action("UserSetting", "Common")' });
        });
    }
</script>